<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Site{% endblock %}</title>
    <!-- CDN do jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- CDN do Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh; /* Ensures full height */
        }
        .container {
            flex: 1; /* Makes the container grow and fill available space */
        }
        .footer {
            /* Additional styling for the footer */
            padding: 10px 0;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Nork-Town Cars</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('api.owner.get_template') }}">Proprietários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('api.car.get_template') }}">Carros</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <form action="{{ url_for('auth.logout') }}" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Deslogar</button>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="footer bg-light mt-auto">
        <div class="container">
            <span class="text-muted">&copy; 2024 Nork-Town Cars. Todos os direitos reservados.</span>
        </div>
    </footer>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
